.header__logo {
  width: 190.45px;
  height: 31px;
  background-image: url(../../../images/logo.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  margin-top: 34px;
  margin-bottom: 34px;
  margin-right: 195.55px;
  opacity: 1;
  transition: opacity 180ms easy-out 0;
}

.header__logo:hover {
  opacity: .5;
}