.footer {
  color: #080E2C;
  width: 76.736%;
  margin-top: 120px;
  margin-bottom: 49px;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  &__logo {
    width: 255px;
    height: 64px;
    margin: 0;
    margin-right: 450px;
  }

  &__phone {
    margin: 0;
    display: flex;
    align-items: center;
  }

  &__phone-logo {
    margin: 0;
    width: 18px;
    height: 18px;
    margin-right: 14px;
  }

  &__phone-number {
    margin: 0;
    font-size: 18px;
    line-height: 22px;
    font-weight: 400;
  }

  &__email {
    margin: 0;
    display: flex;
    align-items: center;
    order: 4;
    flex-basis: 195.83px;
  }

  &__email-logo {
    margin: 0;
    width: 20px;
    height: 16px;
    margin-right: 12px;
  }

  &__email-text {
    margin: 0;
    font-size: 18px;
    line-height: 22px;
    font-weight: 400;
  }

  &__politics {
    margin: 0;
    margin-top: 20px;
    text-decoration: underline;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    opacity: 50%;
  }
}