.intro {
  color: #080E2C;
  background-color: #E5E5E5;
  display: flex;
  width: 100%;
  margin-top:100px;
  z-index: 1;
  position: relative;
}

.intro__container-image {
  position: relative;
  height: 595px;
  overflow: hidden;
  flex-basis: 735px;
}

.intro__vector_first {
  position: absolute;
  bottom: -10px;
  left: 200px;
  z-index: 1;
}
.intro__vector_second {
  position: absolute;
  bottom: -10px;
  left: -185px;
  z-index: 1;
}

.intro__pay {
  position: absolute;
  bottom: 0;
  left: 25px;
  height: 591px;
  width: 591px;
  z-index: 2;
}
.intro__circle {
  position: absolute;
  top: 276px;
  left: 388px;
  z-index: 5;
  width: 192px;
  height: 192px;
  background-color: #FFFFFF;
  border-radius: 50%;
  text-align: center;
  display: flex;
  align-items: center;
}
.intro__circle-text {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 130%;
}

.intro__container-text {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  z-index: 10;
  width: 37.5%;
  background-color: #E5E5E5;
}

.intro__title {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 90px;
  line-height: 110%;
  margin-top: 89px;
  margin-bottom: 30px;
}

.intro__text {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 130%;
  margin-top: 0;
  margin-bottom: 25px;
  width: 445px;
}
.intro__text:last-child {
  margin-bottom: 0;
}