.burger {
  position: absolute;
  top: 59px;
  right: 0;
  display: none;
  width:260px;
  background-color:#FFFFFF;
}

.burger_active {
  display: block;
}

.burger__nav {
  display: flex;
  flex-direction: column;
  width: 197px;
  margin: 32px auto 614px;
}

.burger__nav-list {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}

.burger__nav-element {
  margin-bottom: 16px;
}
.drop-down-menu__nav-element:last-child {
  margin-right: 0;
}

.burger__link {
  text-decoration: none;
  color: #080E2C;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}